<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>A simple ionic app from riaz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img src="assets/img/one.jpg" class="home-img"/>
  </div>
  <h1>Top 10 trending world news today!</h1>
  <div class="ion-text-center">
    <ion-button (click)="goToNews()" color="dark">Read Here</ion-button>
  </div>
  <div>
    <img src="assets/img/todo.jpg" class="home-img"/>
  </div>
  <h1>A simple todo without native storage!</h1>
  <div class="ion-text-center">
    <ion-button (click)="goToTodo()" color="dark">ToDo</ion-button>
  </div>
</ion-content>
